---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description } = Astro.props;
---

<Section text="About Us" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <div
      class="about-description mt-2 mb-2 text-white"
      set:html={description}
    />
  </div>
</Section>
