---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-5 md:py-18" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-semibold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] tracking-tighter text-human--touch sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-10 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <a
    class="inline-block rounded-full bg-seed--oflife px-5 py-3 text-sm leading-3 font-medium text-[#fff]"
    href={"https://brunagon.vercel.app/"}
    target="_blank"
    rel="noopener noreferrer">Get in Touch</a
  >
</section>
